# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml
nose2-*.xml

# Virtualenv
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Arduino build files
*.hex
build/

# Serial port state files
*.log
